@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #0984e3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 6rem;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

.filter__container {
    margin-top: 1.25rem;
    width: 80vw;
    max-width: 50rem;
}

.filter {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 0;
    outline: 0;
}

.filter:focus {
    border: 1px solid #4bcffa;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.post {
    position: relative;
    background-color: #74b9ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.25rem;
    margin: 2.5rem 0;
    display: flex;
    width: 80vw;
    max-width: 50rem;
}

.post__title {
    margin: 0;
}

.post__body {
    margin: 1rem 0 0;
    line-height: 1.3;
}

.post__info {
    margin-left: 1.25rem;
}

.post__number {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
    color: #74b9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 3rem;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}

.loader__circle {
    background-color: #fff;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0.3rem;
    animation: bounce 0.5s ease-in infinite;
}

.loader__circle--second {
    animation-delay: 0.1s;
}

.loader__circle--third {
    animation-delay: 0.2s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}