* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3B3B98;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    background-color: #182C61;
    width: 25rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.pw__header {
    width: 25rem;
    padding: 1rem;
}

.pw__header-content {
    width: 100%;
    height: 3rem;
    background-color: #3B3B98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
}

.copy {
    background-color: transparent;
    color: #ddd;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.copy:hover {
    color: #fff;
}

.pw__body {
    padding: 1.5rem;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.length {
    outline: 0;
}

.generate {
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1.5rem;
    background-color: #f6b93b;
    color: #182C61;
}

.generate:active {
    transform: scale(0.98);
}