@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import 'progress.css';

* {
    box-sizing: border-box;

}

body {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
    background-color: #666;
}

h1 {
    color: #fff;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: #000;
    border-top-left-radius: 0.65rem;
    border-top-right-radius: 0.65rem;
}


.controls {
    background-color: #333;
    color: #fff;
    width: 60%;
    border-bottom-left-radius: 0.65rem;
    border-bottom-right-radius: 0.65rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem;
}

.controls .btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: #28a745;
}

.controls .fa-stop {
    color: #dc3545;
}

.controls .fa-pause {
    color: #fff;
}

.controls .timestamp {
    font-weight: bold;
    margin-left: 0.65rem;
}

.btn:focus {
    outline: none;
}

@media(max-width: 800px) {

    .screen,
    .controls {
        width: 90%;
    }
}