@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Lato"sans-serif;
    margin: 0;
}


.movie__container {
    margin: 1.25rem 0;
}

.movie__container--select {
    background-color: #fff;
    border: 0;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    margin-left: 0.65rem;
    padding: 0.5rem 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    color: #777;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.75rem;
}

.showcase li small {
    margin-left: 2px;
}

.container {
    perspective: 900px;
}

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 4.5rem;
    width: 100%;
    margin: 1rem 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.seat {
    /* 444451 */
    background-color: #777;
    height: 0.75rem;
    width: 1rem;
    margin: 0.25rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

/* the leht columns have margin with other columns */
.seat:nth-of-type(2) {
    margin-right: 1.2rem;
}

/* the right columns have margin with other columns */
.seat:nth-last-of-type(2) {
    margin-left: 1.2rem;
}

/* :not(class name):hover, except class name have hover*/
.seat:not(.seat__occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.seat__occupied):hover {
    cursor: default;
    transform: scale(1);
}

.seat__selected {
    background-color: #6feaf6;
}


.seat__occupied {
    background-color: #fff;
}

.text {
    margin: 0.4rem 0;
}

.text span {
    color: #6feaf6;
}