* {
    box-sizing: border-box;
}

body {
    background-color: #3867d6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

.search {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 3rem;
    outline: 0;
    border: 0;
    text-indent: 0.5rem;
}

.card {
    background-color: #4b7bec;
    color: #fff;
    display: flex;
    padding: 3rem;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    max-width: 50rem;

}

.user__avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 5px solid #3867d6;
}

.user__info {
    margin-left: 2rem;
}

.user__title {
    margin-top: 0;
}

.user__detail {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    padding: 0;
}

.repo {
    display: inline-block;
    background-color: #3867d6;
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}